/* fonts */
@font-face
{
	font-family: 'ABeeZee-Regular';
	src: url('../fonts/ABeeZee-Regular.otf');
}

@font-face
{
	font-family: 'AlegreyaSans-Regular';
	src: url('../fonts/AlegreyaSans-Regular.otf');
}

body
{
	background-image: url("fond.jpg");
	font-family: AlegreyaSans-Regular, sans-serif;
}

/* header */
header
{
	border-bottom: 1px solid black;
	box-shadow: 0px 2px 3px -3px black;	
}

header img
{
	border-radius: 50px;
	box-shadow: 2px 2px 2px black;
}

ul
{
	list-style-type: circle;
}

nav ul li
{
	margin-left: 50px;
	font-size: 24px;
	font-family: ABeeZee-Regular, sans-serif;
}

@media all and (max-width: 1410px)
{
	nav ul li
	{
		margin-left: 13px;
		font-size: 18px;
	}
}

a
{
	text-decoration: none;
	color: #02002b;
}

a:hover
{
	text-decoration: underline;
	font-style: italic;
	color: #02002b;
}

/* section */
section
{
	font-size: 20px;
}

h1
{
	font-size: 33px;
	font-weight: bold;
}

h2
{
	font-size: 27px;
	font-weight: bold;
	color: #1a150c;
}

h3
{
	font-size: 26px;
	font-weight: bold;
	clear: both;
}

article
{
	font-size: 25px;
}

@media all and (max-width: 767px)
{
	article
	{
		font-size: 22px;
	}
}

#photo_deshimaru
{
	float: right;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: 1px 1px 2px black;
}

#mini_plan
{
	border-radius: 3px;
	box-shadow: 1px 1px 1px grey;
}

td
{
	padding-right: 20px;
}

@media all and (max-width: 480px)
{
	td
		{
			padding: 0px 10px 0px 5px;
			border: 2px solid #02002b;
		}
}
